/* Light box */

.modal {
    display: none; 
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    // @media screen and (max-width: 720px){
    //     text-align: center;
    // }
  }

  .modal-flex{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 720px){
        flex-direction: column;
        align-items: center;
    }
  }
  
  /* Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    overflow: hidden;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Light box image */

.potion-image{
    background-color: white;
    max-width: 500px;
    padding: 20px;
    @media screen and (max-width: 720px){
        max-width: 300px;
    }
}

/* Light box image */

.potion-image{
   width: 100%;
}

/* Light box infos */

.potion-infos{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 720px){
        width: 200px;
        font-size: 0.8em;
    }
}

/* Light box btn */

.btn-add-cart{
    background-color: #da391c;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 1.0em;
    color: white;
    outline: none;
}

.btn-add-cart:hover{
    cursor: pointer;
    color: rgba($color: #fff, $alpha: 0.8);
}